.wrapper {
	display: flex;
	align-items: center;
	padding: 4px;
	border-radius: 4px;
	cursor: pointer;
	.text {
		margin-left: 4px;
		color: var(--text-color);
		font-size: 1.6rem;
	}
}
.wrapper:hover {
	background: rgba(0, 0, 0, 0.05);
}
.item_sidebar {
	color: #385898;
	font-size: 2.4rem;
	width: 36px;
}
